.item {
  transition: linear 1s;
  opacity:1;
}
.item:hover{
  background:lightgrey;
}
.item.ng-enter{
    opacity: 0;
}
.item.ng-enter-active{
  opacity:1;
}
.item.ng-leave{
  position:relative;
  border-radius: 20px;
}
.item.ng-leave-active{
  opacity:0;
}
